header {
  background-color: dimgrey;
  text-align: center;
}

body {
  background-image: repeating-radial-gradient(green, lightblue);
}

.info {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  color: black;
}

.myCar {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 5px solid black;

}

h3 {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  background-color: white;
  color: black;
  text-align: center;
}
